In [1]:
import numpy as np
import pandas as pd

In [2]:
train_file = '/Users/sachin/Data/glue_data/MRPC/train.tsv'

In [12]:
dev_file = '/Users/sachin/Data/glue_data/MRPC/dev.tsv'

In [13]:
test_file = '/Users/sachin/Data/glue_data/MRPC/test.tsv'

In [5]:
train = pd.read_csv(train_file, delimiter='\t', usecols=[0,1,2,3,4])

In [14]:
dev = pd.read_csv(dev_file, delimiter='\t', usecols=[0,1,2,3,4])

In [16]:
dev.head()

,Quality,#1 ID,#2 ID,#1 String,#2 String
0,1,1355540,1355592,He said the foodservice pie business doesn 't ...,The foodservice pie business does not fit our...
1,0,487993,487952,"The dollar was at 116.92 yen against the yen ,...","The dollar was at 116.78 yen JPY = , virtually..."
2,1,1989515,1989458,The AFL-CIO is waiting until October to decide...,The AFL-CIO announced Wednesday that it will d...
3,0,1783137,1782659,No dates have been set for the civil or the cr...,No dates have been set for the criminal or civ...
4,1,3039165,3039036,Wal-Mart said it would check all of its millio...,It has also said it would review all of its do...

In [20]:
test = pd.read_csv(test_file, delimiter='\t', usecols=[0,1,2,3,4])

In [21]:
test.head()

,index,#1 ID,#2 ID,#1 String,#2 String
0,0,1089874,1089925,"PCCW 's chief operating officer , Mike Butcher...",Current Chief Operating Officer Mike Butcher a...
1,1,3019446,3019327,The world 's two largest automakers said their...,Domestic sales at both GM and No. 2 Ford Motor...
2,2,1945605,1945824,According to the federal Centers for Disease C...,The Centers for Disease Control and Prevention...
3,3,1430402,1430329,A tropical storm rapidly developed in the Gulf...,A tropical storm rapidly developed in the Gulf...
4,4,3354381,3354396,The company didn 't detail the costs of the re...,But company officials expect the costs of the ...

In [6]:
train.head()

,Quality,#1 ID,#2 ID,#1 String,#2 String
0,1,702876,702977,"Amrozi accused his brother , whom he called "" ...","Referring to him as only "" the witness "" , Amr..."
1,0,2108705,2108831,Yucaipa owned Dominick 's before selling the c...,Yucaipa bought Dominick 's in 1995 for $ 693 m...
2,1,1330381,1330521,They had published an advertisement on the Int...,"On June 10 , the ship 's owners had published ..."
3,0,3344667,3344648,"Around 0335 GMT , Tab shares were up 19 cents ...","Tab shares jumped 20 cents , or 4.6 % , to set..."
4,1,1236820,1236712,"The stock rose $ 2.11 , or about 11 percent , ...",PG & E Corp. shares jumped $ 1.63 or 8 percent...

In [7]:
train['#1 String'].iloc[0]

'Amrozi accused his brother , whom he called " the witness " , of deliberately distorting his evidence .'

In [8]:
train['#2 String'].iloc[0]

'Referring to him as only " the witness " , Amrozi accused his brother of deliberately distorting his evidence .'

In [9]:
train['#1 String'].iloc[1]

"Yucaipa owned Dominick 's before selling the chain to Safeway in 1998 for $ 2.5 billion ."

In [10]:
train['#2 String'].iloc[1]

"Yucaipa bought Dominick 's in 1995 for $ 693 million and sold it to Safeway for $ 1.8 billion in 1998 ."

In [11]:
train.shape[0]

3570

In [22]:
dev.shape[0]

389

In [23]:
test.shape[0]

1650